.one {
  color: red;
  font-size: 2em;
}
.two {
  color: greenyellow;
  font-size: 1rem;
}
.three {
  background-color: yellow;
  width: 100vw;
  height: 50vh;
}
.four {
  background-color: red;
  width: 50vw;
  height: 50vh;
}
.five {
  width: 500px;
  height: 500px;
  background-color: black;
}
.six {
  width: 50%;
  height: 50%;
  background-color: blueviolet;
}
